<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
    </head>

    <body>

        {% for event in events %}
            <h2>learning event: {{ event.learning_event }}</h2>
            <p>event description: {{ event.event_description }}</p>
            <span>user: {{ event.user }}</span>
        {% endfor %}
        
    </body>

</html>
